<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--mysql连接-->
        <!--<property name="connection.url">jdbc:mysql://localhost:3306/tcad</property>-->
        <!--<property name="connection.driver_class">com.mysql.jdbc.Driver</property>-->
        <!--<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>-->
        <!--<property name="connection.username">root</property>-->
        <!--<property name="connection.password">root</property>-->

        <!--oracle连接-->
        <property name="connection.url">jdbc:oracle:thin:localhost:1521:orcl</property>
        <property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="connection.username">tcad</property>
        <property name="connection.password">gjc</property>

        <!-- <mapping class="entity.MTextEntity"/>-->
        <property name="hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <mapping class="entity.basicFeature.MtextEntity"/>
        <mapping class="entity.basicFeature.ArcEntity"/>
        <mapping class="entity.basicFeature.CircleEntity"/>
        <mapping class="entity.basicFeature.LineEntity"/>
        <mapping class="entity.basicFeature.TextEntity"/>
        <mapping class="entity.basicFeature.PointEntity"/>
        <mapping class="entity.basicFeature.EntityEntity"/>
        <mapping class="entity.basicFeature.BlockEntity"/>
        <mapping class="entity.basicFeature.InsertEntity"/>
        <mapping class="entity.basicFeature.BlockHeaderEntity"/>
        <mapping class="entity.blockFeature.BlockFeatures" />
    </session-factory>
</hibernate-configuration>